.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}
.menu{list-style:none; z-index: 999;}
.menu li{position:relative;}
.menu li a{color:#333; text-decoration:none;  display:block;padding: 10px 15px;}
.menu li a:hover{color:#666;  background: #d5d5d5 }
.menu li   ul{position:absolute; top:35px; left:0; background-color:#fff; display:none;z-index: 999;padding: 5px 0px; }
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{display:block; width:150px; text-align: left;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {cursor: pointer; border:none;}
.nav-tabs {text-align: left;}
.img-responsive {border-radius: 10px;}
input, button, select, textarea {border-radius: 6px;padding: 10px;border: none;margin: 3px;}

/* CUSTOM BN */
/* ------------------------------------------------- */
body, html{
    height:100%;
}

.cemPorcento{
    width: 100%;
    overflow: hidden;
    min-height: 98%;
    padding: 0;
}

/*.whd{
    width: 100%;
    overflow: hidden;
    padding: 0;
}*/

/* para menores que 767 androids e tablets */
@media (max-width: 767px) {
    .bx-wrapper{
        top: 70px;
        min-height: 220px;
    }
    .bx-wrapper .bx-caption span{
        font-size: 2em !important;
        left: 60px;

    }
}
/* para menores que 320 androids antigos */
@media (max-width: 321px) {
    .bx-wrapper .bx-caption span{
        font-size: 1em !important;
        bottom: -73px;
    }
}

.fancybox-margin{margin-right:15px;}

@-webkit-keyframes _gm915 {
    0% { -webkit-transform: translate3d(0px,-500px,0); -webkit-animation-timing-function: ease-in; }
    50% { -webkit-transform: translate3d(0px,0px,0); -webkit-animation-timing-function: ease-out; }
    75% { -webkit-transform: translate3d(0px,-20px,0); -webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: translate3d(0px,0px,0); -webkit-animation-timing-function: ease-out; }
}
.js.csstransitions body #empresa .container .row .col-sm-6 p {
    text-align: justify;
}
#empresa {
    text-align: justify;
}
#justificado {
    text-align: justify;
}
.js.csstransitions body #activities .container .row .col-sm-12 .tab-content #pvc .col-sm-8 {
    text-align: justify;
}
.js.csstransitions body footer .container .row.text-center .col-sm-12 .row .col-sm-6 table tr td {
    text-align: justify;
}
.js.csstransitions body footer .container .row.text-center .col-sm-12 .row .col-sm-6 table tr td {
    color: #FFFFFF;