<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="lib/jquery/dist/jquery.min.js" ></script>
    <script src="lib/angular/angular.min.js" ></script>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/estilo.css" rel="stylesheet" />

    <script type="text/javascript">

        var app = angular.module('hackg4', []);

        app.controller('listaCtrl', function($scope) {
            $scope.datas = [{imagem : 'namorados4'},
                {imagem : 'namorados2'},
                {imagem : 'diadospais3'},
                {imagem : 'natal1'},
                {imagem : 'diadospais2', texto : 'Datas comemorativas'},
                {imagem : 'natal3', texto : 'Natal' }];

            $scope.datasespeciais = [{imagem : 'choco7'},
                {imagem : 'NATAL7'}];
        });

    </script>
    
</head>

<body ng-app="hackg4">
    <div class="container navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <a class="standard-logo img-responsive " data-dark-logo="image/barra_duda.png"><img src="image/barra_duda.png" alt="Chocolates da Duda"></a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">

                <li class="active"><a href="index.html">HOME</a></li>
                <li class="dropdown">

                <li class="active"><a href="chocolates.php">CHOCOLATES</a></li>
                <li class="dropdown">

                <li class="active"><a href="datas.html">DATAS ESPECIAIS</a></li>
                <li class="dropdown">

                <li class="active"><a href="compras.php">COMPRAS</a></li>
                <li class="dropdown">


                <li class="active"><a href="receitas.php">RECEITAS</a></li>
                <li class="dropdown">
            </ul>
        </div>
    </div>
    <div class="container" ng-controller="listaCtrl">

        <div class="row">
            <div class="col-xs-6" ng-repeat="data in datas">
                <img class="datecard" src="image/{{ data.imagem }}.jpg" />
                <div class="text-center"> {{ data.texto }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-repeat="data in datasespeciais">
                <img class="datecard full" src="image/{{ data.imagem }}.jpg" />
                <div> {{ data.texto }}</div>
            </div>
        </div>
    </div>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>